<div class="link">
  <div><%= @link[0] %>: <a href="<%= @link[3] %>"><%= @link[1] %></a></div>
  <div><span class="description"><%= @link[2] %></span> <span class="category">(<%= @link[5] %>)</span></div>
</div>