<% content_for :stylesheets do %>
  <link rel="stylesheet" type="text/css" href="index.css"/>
<% end %>

<div id="header">
  <div id="title">
    Reddull
  </div>
  <div id="topics">
    <ul>
      <li><a href="">hot</a></li>
      <li><a href="">new</a></li>
      <li><a href="">rising</a></li>
      <li><a href="">controversial</a></li>
      <li><a href="">top</a></li>
      <li><a href="">gilded</a></li>
      <li><a href="">wiki</a></li>
      <li><a href="">promoted</a></li>
    </ul>
  </div>
  <div id="user-bar">
    <% if @username %>
      <a href="/users/<%= @username %>"><%= @username %></a> |
    <% else %>
      <a href="/login">login</a> | <a href="/register">register</a> |
    <% end %>
    <a href="">preference</a> | <a href="/logout">logout</a>
  </div>
</div>

<div id="panels">
  <div id="left-panel">
    <div class="left-link-div">
      <a class="left-links" href="">subscribed</a>
    </div>
    <div class="left-link-div">
      <a class="left-links" href="">explore</a>
    </div>
    <p id="multireddulls">multireddulls</p>
    <div id="left-panel-multireddulls">
      <p class="left-panel-multireddulls-text">new! create sets of <br> subreddits to view <br> together.</p>
      <p class="left-panel-multireddulls-text">for starters, try one <br> of these:</p>
      <a class="left-links" href="">reddullnews</a>
      <a class="left-links" href="">reddullpets</a>
      <a class="left-links" href="">multibeta</a>
      <p class="left-panel-multireddulls-text">to hide these <br> samples, create a <br> multi of your own:</p>
    </div>
  </div>
  
  <div id="center-panel">
    <% if @flash %>
      <div id="flash-msg"><%= @flash %></div>
    <% end %>
    <div id="featured-post">
      This is the feaured post. It is very featured. It features its features very well.
    </div>
  </div>

  <div id="right-panel">
    <div>
      <form>
        <input id="search" type="text" placeholder="search reddull">
      </form>
    </div>

    <div id="submit-post">
      <button class="post-button" type="button">Submit a new link</button>
      <button class="post-button" type="button">Submit a new text post</button>
    </div>

    <div class="featured-ad">
    </div>
    <div class="discuss-ad">
      <a id="discuss-ad" href="">discuss this ad on reddit</a>
    </div>
  </div>
  
  
  
  <% @category_id_to_links.each do |category_id, links| %>
<div class="category">
  <p><%= @category_id_to_name[category_id.to_i] %></p>
    <% links.each do |link| %>
      <div class="link">
      <div><%= link[0] %>: <a href="<%= link[3] %>"><%= link[1] %></a></div>
      <p class="description"><%= link[2] %></p>
      </div>
    <% end %>
</div>
<% end %>

<!-- Was not sure how to make the content in the center (posts) extend all the way to the left panel -->

<!-- <%= @silly %> -->