<% content_for :stylesheets do %>
  <link rel="stylesheet" type="text/css" href="index.css"/>
<% end %>

<div id="header">
  <div id="title">
    Reddish
  </div>
  <div id="topics">
    <ul>
      <li><a href="/categories/news">news</a></li>
      <li><a href="/categories/funny">funny</a></li>
      <li><a href="/categories/videos">videos</a></li>
      <li><a href="/categories/trending">trending</a></li>
      <li><a href="/categories/programming">programing</a></li>
    </ul>
  </div>
  <div id="user-bar">
    <% if @username %>
      <a href="/users/<%= @username %>"><%= @username %></a> |
    <% else %>
      <a href="/login">login</a> | <a href="/register">register</a> |
    <% end %>
    <a href="">preference</a> | <a href="/logout">logout</a>
  </div>
</div>

<div id="panels">
  <div id="center-panel">
    <% if @flash %>
      <div id="flash-msg"><%= @flash %></div>
    <% end %>
    <!--<div id="featured-post">
      This is the feaured post. It is very featured. It features its features very well.
    </div>-->
    <% @category_id_to_links.each do |category_id, links| %>
    <div class="category">
      <p><%= @category_id_to_name[category_id.to_i] %></p>
        <% links.each do |link| %>
          <div class="link">
          <div><%= link[0] %>: <a href="<%= link[3] %>"><%= link[1] %></a></div>
          <p class="description"><%= link[2] %></p>
          </div>
        <% end %>
    </div>
    <% end %>
  </div>

  <div id="right-panel">
    <div>
      <form>
        <input id="search" type="text" placeholder="search reddull">
      </form>
    </div>

    <div id="submit-post">
      <form method="get" action="/links/new">
        <button class="post-button" type="submit">Submit a new link</button>
      </form>
      <button class="post-button" type="button">Submit a new text post</button>
    </div>

    <div class="featured-ad">
    </div>
    <div class="discuss-ad">
      <a id="discuss-ad" href="">discuss this ad on reddit</a>
    </div>
  </div>
